/* Variables */
:root {
    --orange: #FF6B00;
    --darkgray: #8C8C8C;
    --gray: #E6E6E6;
}

@font-face {
    font-family: basier-bold;
    src: url('./fonts/BasierCircle-Bold.woff');
}

@font-face {
    font-family: basier-regular;
    src: url('./fonts/BasierCircle-Regular.woff');
}

@font-face {
    font-family: basier-semi;
    src: url('./fonts/BasierCircle-SemiBold.woff');
}

html {
    scroll-behavior: smooth;
}

html,body {
    background-color: #000000;
    font-family: 'basier-regular', Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}

p { 
    font-size: 16px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'basier-bold', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 62px;
}

.fontS24 { font-size: 24px; }
.font700 { font-weight: 700; }

.colorOrange { color: var(--orange); }

.cta-fill {
    color: #FFFFFF;
    background: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 13px 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 16px;
    transition: all .3s ease;
    text-decoration: none;
}

.cta-fill:hover {
    background-color: transparent;
    color: var(--orange);
    text-decoration: none;
}

.cta-border {
    color: var(--orange);
    background: transparent;
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 13px 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 16px;
    transition: all .3s ease;
}

.cta-border:hover {
    background-color: var(--orange);
    color: #FFFFFF;
    text-decoration: none;
}

.section-title {
    font-family: 'basier-bold', Arial, sans-serif;
    font-weight: 700;
    line-height: 29px;
}

/* Navigation */
.nav-container-desktop ul {
    list-style: none;
    display: flex;
    max-width: 255px;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0;
}

.nav-container-desktop ul a {
    color: #FFFFFF;
    font-family: 'basier-semi', Arial, sans-serif;
    font-weight: 600;
    transition: all .3s ease;
}

.nav-container-desktop ul a:hover {
    text-decoration: none;
    color: var(--orange);
}

.burger-wrapper .burger-line {
    height: 3px;
    max-width: 22px;
    background: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
}

.burger-wrapper .burger-line2 {
    max-width: 13px;
}

.nav-container-desktop {
    display: block;
}

.nav-container-mobile {
    display: none;
    padding: 23px 0;
}

.main-nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #000000;
}

.burger-wrapper {
    max-width: 25px;
}

.fullscreen-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--orange);
    z-index: 999999999;
    top: 0;
    display: none;
}

.fullscreen-nav ul {
    list-style: none;
    padding: 0;
}

.fullscreen-nav ul li {
    padding-bottom: 30px;
}

.fullscreen-nav ul a {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.fullscreen-nav__wrapper {
    height: 100%;
}

.fullscreen-nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Hero Banner */
.hero-banner {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
}

.banner-headings {
    max-width: 406px;
}

.banner-headings h1 {
    margin-bottom: 15px;
}

.banner-headings h1 br {
    display: none;
}

.banner-headings p {
    padding-bottom: 33px;
}

.banner-headings .eyebrow {
    margin: 0;
    padding-bottom: 30px;
    font-size: 30px;
}

.banner-headings__wrapper {
    display: flex;
    align-items: center;
}

.banner-cta__wrapper {
    display: flex;
}

.banner-cta__wrapper a:first-child {
    margin-right: 25px;
}

/* portfolio */
.section-title-container {
    position: relative;
}

.svg-full {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -160px;
}

.svg-full:before {
    content: '';
    height: 2px;
    background: var(--orange);
    width: 1000px;
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: -950px;
}

.portfolio-card {
    width: 100%;
    min-height: 355px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    z-index: 9;
    display: none;
    top: 0;
    min-height: 100vh;
    background: rgba(0,0,0,0.9);
    min-width: 100vw;
    left: 0;
}

.portfolio-close {
    position: absolute;
    top: 15px;
    right: 35px;
    background: #000000;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
}

.portfolio-close {
    cursor: pointer;
}

.portfolio-modal {
    max-height: 800px;
    overflow-y: overlay;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.portfolio-modal img {
    width: 100%;
}

.portfolio .card-1 {
    background-image: url(../images/FIRST-Thumbnail.jpg);
}

.portfolio .card-2 {
    background-image: url(../images/Mineski-Thumbnail.jpg);
}

.portfolio .card-3 {
    background-image: url(../images/LivClean-Thumbnail.jpg);
}

.portfolio .card-4 {
    background-image: url(../images/Berocca-Thumbnail.jpg);
}

.portfolio .card-5 {
    background-image: url(../images/lp-ui.jpg);
}

.portfolio .card-6 {
    background-image: url(../images/ads-thumbnail.jpg);
}

.portfolio .col-lg-6 {
    padding: 0 7px;
}

.section-title {
    margin-bottom: 60px;
}

/* About */
.about {
    padding: 60px 0 75px 0;
}

.about .name {
    margin-bottom: 30px;
}

.about .position {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'basier-semi', Arial, sans-serif;
}

.about .description { max-width: 446px; }

.about .skills-summary {
    margin-top: 65px;
}

.skill-list-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-list {
    display: flex;
    width: 50%;
}

.check-container {
    padding: 5px 13px 0 0;
}

.tools-container .position { padding-top: 30px; }

.tools-container img {
    display: block;
    margin: auto;
    max-height: 50px;
    width: auto;
}

.tools-icons-wrapper {
    display: flex;
    justify-content: space-around;
}

.tools-icon-container .icon-title {
    padding-top: 15px;
    text-align: center;
}

.footer-icon-card { 
    text-align: center;
}

.footer-contact-icons-wrapper {
    display: flex;
    justify-content: space-around;
}

.footer-icon-card p {
    padding-top: 15px;
}

.footer-contact-icons {
    padding: 30px 0 90px 0;
}

.social-icons h3 {
    font-size: 24px;
    text-align: center;
}

.social-icons-icon {
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    background: var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons-container {
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0 60px 0;
}

.footer { padding-top: 60px; }

.footer-copyright {
    text-align: center;
    padding: 30px 0;
}

.portfolio-close {
    display: none;
}

/* Media Queries */
@media(max-width: 992px){

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav-container-desktop {
        display: none;
    }

    .nav-container-mobile {
        display: block;
    }

    .hero-banner .row {
        flex-direction: column-reverse;
    }

    .banner-image img {
        padding-bottom: 32px;
    }

    .banner-headings h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    .banner-headings h1 br {
        display: block;
    }

    .banner-headings p {
        font-size: 14px;
        line-height: 25px;
        margin: 0;
        padding-bottom: 30px;
    }

    .banner-headings .eyebrow {
        font-size: 18px;
        padding-bottom: 17px;
    }

    .banner-cta__wrapper a:first-child {
        margin-right: 15px;
    }

    .section-title {
        padding-left: 40px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;

        color: #FFFFFF;
    }

    .svg-full {
        left: -100px;
    }

    .about .name {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }

    .about .position {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 25px;
    }

    .about .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .skill-list {
        width: 100%;
    }

    .tools-icons-wrapper {
        flex-wrap: wrap;
        justify-content: start;
    }

    .tools-icon-container {
        width: 33.33333%;
    }

    .tools-container .position {
        padding-bottom: 30px;
    }

    .portfolio-card {
        min-height: 180px;
    }

    .portfolio-card {
        margin-bottom: 30px;
    }

    .footer-contact-icons-wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .footer-icon-card {
        padding-bottom: 60px;
    }

    .footer-icon-card:last-child {
        padding-bottom: 0;
    }

    .footer-contact-icons {
        padding-bottom: 60px;
    }

    .social-icons h3 {
        font-size: 18px;
    }

    .portfolio-close {
        right: 10px;
    }

}